body {
    margin: 0;
    overflow-x: auto;
}

.footer {
    height: 5%;
    background: #2d2b2b;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 2%;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row a:hover {
    color: grey;
}

.footer .row ul {
    width: 100%;
    margin-bottom: -10000px;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: -1% 1%;
}
.icons {

}
.mail {
    margin-top: -1%;
    text-align: center;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}