@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #2d2b2b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  margin: auto;
  border-bottom: 4px solid white; /* Fügt einen weißen Strich unter der ersten Navbar hinzu */
  width: 100%; /* Stellt sicher, dass das Border-Element die gesamte Breite der Navbar einnimmt */
}

nav .navbar .logo a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

nav .navbar .logo a img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

nav .navbar .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px;
}

nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2d2b2b;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.navbar .actions {
  display: flex;
  align-items: center;
}

.navbar .actions .action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3939;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.navbar .actions .action-button img {
  height: 30px;
  width: auto;
}

.navbar .menu li a:hover, .nav-home:hover {
  color: #2d2b2b;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.navbar .actions .action-button:hover {
  background-color: #fff;
  color: #2d2b2b;
  border: 1px solid #fff;
  border-radius: 5px;
}

.navbar .actions .action-button:hover img {
  filter: grayscale(100%) brightness(0);
}



.second-navbar {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #2d2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1000;
}

.second-navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

.second-navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}


.navbar-divider {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.navbar .hamburger-menu {
    display: none;
    margin: 20px;

}

@media screen and (max-width: 768px) {


    .navbar .hamburger-menu {
    display: flex;
}
    .navbar .actions .hamburger-menu {
          #menu__toggle {
             opacity: 0;
                        }
          #menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
                        }
          #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
                        }
          #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
                        }
          #menu__toggle:checked ~ .menu__box {
            right: 0 !important;
                        }
          .menu__btn {
            position: absolute;
             top: 45%;
             right: 5%;
             width: 26px;
             height: 26px;
             cursor: pointer;
             z-index: 2;
                        }
          .menu__btn > span,.menu__btn > span::before,.menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #ffffff;
            transition-duration: .25s;
                    }
          .menu__btn > span::before {
             content: '';
             top: -8px;
                    }
          .menu__btn > span::after {
             content: '';
             top: 8px;
                    }
          .menu__box {

              display: block;
              position: absolute;
              top: 125px;
              right: -100%;
              width: 200px;
              height: 550%;
              border: white;
              margin: 0px;
              padding: 10px 0;
              list-style: none;
              background-color: #2d2b2b;
              box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
              transition-duration: .25s;
              border-radius: 20px;
            }
                .menu__item {
                  display: block;
                  padding: 12px 24px;
                  color: #ffffff;
                  font-family: Nunito, sans-serif;
                  font-size: 20px;
                  font-weight: 600;
                  text-decoration: none;
                  transition-duration: .25s;
                }
                .menu__item:hover {
                  background-color: #999;
                }

    }
    nav .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .actions .action-button {
        display: none;
    }

    nav .navbar .logo, nav .navbar .actions {
        display: flex;
    }

    nav .navbar .menu {
        display: none;
    }
    nav .navbar .logo {
        justify-content: flex-start;
    }

    .navbar .hamburger-icon {
        display: block;
    }


    .hamburger-icon {
        display: block;
        justify-content: flex-end;
    }

    .hamburger-icon img {
        width: 60px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbar-name {
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


