body {
    font-family: Arial, sans-serif;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}

.banner {
    text-align: center;
    padding-top: 50%;
    background: linear-gradient(rgb(0, 0, 0), transparent, rgb(0, 0, 0)), url(/static/assets/img/homepagebil.jpg) center center / cover no-repeat scroll;
    min-height: 50vh;
}

#bgtext {
    position: relative;
    bottom: 500px;
    margin-right: auto;
    margin-top: 650%;
    text-shadow: 3px 3px rgba(0, 0, 0, .50);
    text-align: center;
    font-size: 500%;
    color: white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.8fr 0.8fr;
    gap: 40px 30px;
    grid-auto-flow: row;
    max-width: 100%;
}


.container {
    position: relative;
    grid-template-rows: 0.8fr 0.8fr;
    width: 100%;
    height: auto;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(71, 71, 71, 0.557);
    /* Stellen Sie sicher, dass das Overlay die gleiche Größe wie das Bild hat */
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container:hover .text {
    opacity: 1;
}

@media (max-width: 768px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #bgtext {
        font-size: 5vw;
    }
}

