{% extends 'profile/admin/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/static/assets/profile/header.css">
    <link rel="stylesheet" href="/static/assets/css/header_styles.css">
</head>
{% block content %}
<body>
    <h1>Edit Product</h1>
    <form id="editProductForm" enctype="multipart/form-data" method="post" action="/admin/edit_product/save">
        <input type="hidden" id="productId" name="productId" value="{{ data[0].get('id') }}">
        <table border="1">
            <tr class="table_head">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Story</th>
                <th>Product picture</th>
                <th>Discount</th>
                <th></th>
            </tr>
            {% for row in data %}
                <tr class="table_data">
                    <td><p>{{ row.get('id') }}</p></td>
                    <td><input id="name" type="text" name="name" value="{{ row.get('name') }}" onchange="updatePreview()"></td>
                    <td><textarea id="description" name="description" onchange="updatePreview()">{{ row.get('description') }}</textarea></td>
                    <td><input id="price" name="price" type="number" value="{{ row.get('price') }}"></td>
                    <td><input id="available" name="available" type="number" min="-1" value="{{ row.get('available') }}"></td>
                    <td><textarea id="story" name="story">{{ row.get('story') }}</textarea></td>
                    <td><input id="picture" name="file" type="file"></td>
                    <td><input id="discount" name="discount" type="text" value="{{ row.get('discount') }}"></td>
                    <td>
                        <button type="submit">Save</button>
                        <button type="button" onclick="cancelEditing()">Cancel edit</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</body>
<script src="/static/assets/profile/manage_products.js"></script>
{% include 'profile/admin/example_productpage.html' %}
{% endblock %}
</html>