<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/css/shoppingcart.css">

</head>

<body>
    <div class="sidevar" id="sidebar">
        <div class="sidebar-close">
            <i class="fa-solid fa-close"></i>
        </div>
        <div class="cart-menu">
            <h3>My Cart</h3>
            <div class="cart-items"></div>
        </div>
        <div class="sidebar--footer">
            <div class="total--amount">
                <h5>Total</h5>
                <div class="cart-total">0.00 CHF</div>
            </div>
            <button class="checkout-btn">Checkout</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const addToCartButtons = document.querySelectorAll('.add-to-cart');
            const cartItemCount = document.querySelector('.cart-icon span');
            const cartItemList = document.querySelector('.cart-items');
            const cartTotal = document.querySelector('.cart-total');
            const cartIcon = document.querySelector('.cart-icon');
            const sidebar = document.querySelector('.sidebar');

            let cartItems = [];
            let totalAmount = 0;

            addToCartButtons.forEach((button, index)=> {
                button.addEventListener('click', ()=>{
                    const item = {
                        name:document.querySelectorAll('.cart .cart-title')[index].textContent,
                        price: parseFloat(
                            document.querySelectorAll('.price')[index].textContent.slice(1),
                        ),
                        quantity: 1,
                    };
                    const exisitingItem = cartItems.find(
                        (cartItem) => cartItem.name === item.name,
                    );
                    if(exisitingItem){
                        exisitingItem.quantity++;
                    }
                    else{
                        cartItems.push(item)
                    }
                    totalAmount += item.price

                    updateCartUI();
                });
                function  updateCartUI(){
                    updateCartItemCount(cartItems.length);
                    updateCartItemList();
                    updateCartTotal();
                }
                function updateCartItemCount(count){
                    cartItemCount.textContent = count;
                }
                function updateCartItemList(){
                    cartItemList.innerHTML = '';
                    cartItems.forEach((item, index) => {
                        const cartItem = document.createElement('div');
                        cartItem.classList.add('cart-item', 'individual-cart-item');
                        cartItem.innerHTML=`
                        <span> (${item.quantity}x)${item.name}</span>
                        <span class="cart-items-price">$${(item.price * item.quantity).toFixed(
                            2,
                        )}
                        <button class="remove-btn" data-index="${index}"><i class="fa-solid fa-time"</i></button>
                        </span>
                        `;
                        cartItemList.append(cartItem);
                    });
                    const  removeButtons = document.querySelectorAll('.remove-btn');
                    removeButtons.forEach((button)=>{
                        button.addEventListener('click', (event)=>{
                            const  index = event.target.dataset.index;
                            removeItemFromCart(index);
                        });
                    });
                }

                function removeItemFromCart(index){
                    const removeItem = cartItems.splice(index, 1)[0];
                    totalAmount -= removeItem.price * removeItem.quantity;
                    updateCartUI();
                }
                function updateCartTotal(){
                    cartTotal.textContent = `$${totalAmount.toFixed(2)}`;
                }
                cartIcon.addEventListener('click', () => {
                    sidebar.classList.toggle('open');
                });
                const  closeButton = document.querySelector('.sidebar-close');
                closeButton.addEventListener('click', () =>{
                    sidebar.classList.remove('open')
                });
            });
        });
    </script>
{% endblock %}
</body>

<script>

</script>