{% extends 'profile/admin/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>
    <h1>Data from Database</h1>
    <table border="1">
        <tr class="table_head">
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        <th></th>
        </tr>
        {% for row in data %}
            <tr class="table_data">
                <td><p>{{ row.get('id') }}</p></td>
                <td><p>{{ row.get('name') }}</p></td>
                <td><p>{{ row.get('description') }}</p></td>
                <td><p>{{ row.get('price') }}</p></td>
                <td><p>{{ row.get('available') }}</p></td>
                <td><p>{{ row.get('story') }}</p></td>
                <td><img style="max-width: 100px; max-height: 55px;" src="{{ url_for('uploaded_file', filename=row.get('picture')) }}" alt="Image not found" id="product_{{ row.get('id') }}"></td>
                <td><p>{{ row.get('discount') }}</p></td>
            <td><button onclick="selectProcuctToEdit({{ row.get('id') }})">Edit</button></td>
            </tr>
        {% endfor %}
    </table>
</body>
<script src="/static/assets/profile/manage_products.js"></script>
{% endblock %}
</html>