{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/about_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>

<header>
    <h1>About Us</h1>
</header>

<div class="container">
    <section class="about-section">
        <h2>About Us</h2>
        <p>Welcome to doodle wear, where every stitch tells a story and every design is a masterpiece crafted by hand. Nestled in the heart of Switzerland, our brand is a celebration of artisanal excellence, sustainability, and a commitment to weaving narratives into every garment.</p>

<p>At the heart of our creative journey is our team of passionate artisans, led by our visionary CEO, who meticulously draw on each shirt, transforming it into a canvas of unique expression. Our dedication to the art of hand-drawn designs sets us apart, ensuring that every piece is a wearable work of art, with no two shirts being exactly alike.</p>

<p>Embracing the essence of Swiss craftsmanship, we proudly declare that all our creations are Swiss-made. This commitment to quality and precision echoes throughout our entire process, from sourcing eco-friendly materials to the careful creation of limited-edition shirts that resonate with individuality and purpose.</p>

<p>Speaking of eco-friendliness, sustainability is not just a buzzword for us—it's a way of life. We prioritize environmentally conscious practices, striving to minimize our ecological footprint and contribute to a greener future. From our choice of materials to our packaging, every decision reflects our commitment to a more sustainable and responsible fashion industry.</p>

<p>What makes our shirts truly exceptional is the story they carry. Each limited-edition release unfolds a chapter in our narrative, connecting wearers to a broader tale of creativity, inspiration, and the journey of our brand. It's more than just a shirt; it's a wearable adventure, a piece of wearable art that invites you to be part of our ongoing story.</p>

<p>Join us at doodle wear as we redefine fashion, one hand-drawn design at a time. Wear a story, wear a statement, wear the essence of Swiss craftsmanship and eco-conscious elegance.</p>
    </section>
</div>

<div class="responsive-container-block container">
  <p class="text-blk team-head-text">
    Our Team
  </p>
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling8.jpg" alt="foto of Leandro">
        </div>
        <p class="text-blk name">
          Leandro Perri
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Meet our visionary leader, the CEO, who guides the brand's direction and ensures we stay true to our mission and dont change. With a keen eye for strategy, our CEO oversees the big picture, steering the brand towards innovation and success.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling10.jpg" alt="foto of Vuk">
        </div>
        <p class="text-blk name">
          Vuk Tanaskovic
        </p>
        <p class="text-blk position">
          Supply Chain Manager
        </p>
        <p class="text-blk feature-text">
          Behind the scenes, our Supply Chain Manager ensures the seamless flow of quality materials, overseeing production to delivery. With an eye on efficiency, they make certain that every piece you receive reflects our commitment to excellence.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling12.jpg" alt="foto of Gianmarco">
        </div>
        <p class="text-blk name">
           Gianmarco Fantino
        </p>
        <p class="text-blk position">
           Marketing Manager
        </p>
        <p class="text-blk feature-text">
          Joining forces with creativity and strategy, our Marketing Manager orchestrates campaigns that resonate with our audience. From social media to collaborations, they bring our brand to life, making it more than just clothing—it's a statement.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling14.jpg" alt="foto of Tim">
        </div>
        <p class="text-blk name">
          Tim Hochstrasser
        </p>
        <p class="text-blk position">
          Visual Merchandiser
        </p>
        <p class="text-blk feature-text">
          Step into our world where aesthetics meet purpose. Our Visual Merchandiser crafts an immersive experience, whether online or in-store. Every display is a work of art, inviting you to explore and discover the essence of our brand.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling2.jpg" alt="foto of Ladina">
        </div>
        <p class="text-blk name">
          Ladina Schafroth
        </p>
        <p class="text-blk position">
          E-commerce Manager
        </p>
        <p class="text-blk feature-text">
          Meet the digital maestro behind your online shopping experience. Our E-commerce Manager curates a user-friendly platform, ensuring that the journey from browsing to checkout is smooth, secure, and representative of the brand you've come to love.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/mauro.PNG" alt="foto of Mauro">
        </div>
        <p class="text-blk name">
          Mauro Patocchi
        </p>
        <p class="text-blk position">
          Fashion Designer
        </p>
        <p class="text-blk feature-text">
          Our creative heartbeat, the Fashion Designer, brings dreams to life through fabric and style. Immerse yourself in a world of unique designs meticulously crafted to embody the essence of our brand and capture the spirit of the latest fashion trends.
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}