{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/about_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>

<header>
    <h1>About Us</h1>
</header>

<div class="container">
    <section class="about-section">
        <h2>About Us</h2>
        <p>Welcome to Our Company, where innovation meets passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet libero vitae urna accumsan tristique a id libero. Curabitur vehicula libero vel arcu volutpat, eu vehicula justo faucibus.</p>
    </section>

    <!--<section class="team-section">
        <h2>Our Team</h2>

        <div class="employee">
            <img src="/static/assets/img/Lehrling2.jpg" alt="CEO">
            <h3>John Doe</h3>
            <p>CEO</p>
            <p>Email: john.doe@example.com</p>
        </div>

        <div class="employee">
            <img src="manager.jpg" alt="Manager">
            <h3>Jane Smith</h3>
            <p>Manager</p>
            <p>Email: jane.smith@example.com</p>
        </div>

        <div class="employee">
            <img src="developer.jpg" alt="Developer">
            <h3>Bob Johnson</h3>
            <p>Developer</p>
            <p>Email: bob.johnson@example.com</p>
        </div>

        <div class="employee">
            <img src="designer.jpg" alt="Designer">
            <h3>Alice Williams</h3>
            <p>Designer</p>
            <p>Email: alice.williams@example.com</p>
        </div>

        <div class="employee">
            <img src="intern.jpg" alt="Intern">
            <h3>Charlie Brown</h3>
            <p>Intern</p>
            <p>Email: charlie.brown@example.com</p>
        </div>

        <div class="employee">
            <img src="apprentice.jpg" alt="Apprentice">
            <h3>Eva Davis</h3>
            <p>Apprentice</p>
            <p>Email: eva.davis@example.com</p>
        </div>

    </section> -->
</div>

<div class="responsive-container-block container">
  <p class="text-blk team-head-text">
    Our Team
  </p>
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling8.jpg">
        </div>
        <p class="text-blk name">
          Leandro Perri
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling10.jpg">
        </div>
        <p class="text-blk name">
          Vuk Tanaskovic
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling12.jpg">
        </div>
        <p class="text-blk name">
           Gianmarco Fantino
        </p>
        <p class="text-blk position">
           Janitor
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling14.jpg">
        </div>
        <p class="text-blk name">
          Tim Hochstrasser
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/Lehrling2.jpg">
        </div>
        <p class="text-blk name">
          Ladina Schafroth
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="../static/assets/img/mauro.PNG">
        </div>
        <p class="text-blk name">
          Mauro Patocchi
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
</footer>

</body>
</html>
{% endblock %}