<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="website icon" type="jpg" href="/static/assets/img/Strichman_logo.JPG">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="../static/assets/css/real_storyline.css">
    <link rel="stylesheet" href="../static/assets/css/about_style.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/header_styles.css">
    <link rel="stylesheet" href="../static/assets/css/footer_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/static/assets/js/login.js"></script>
</head>
<header>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="/"><img src="../static/assets/img/Strichman_logo.JPG" alt="CodingLab Logo"></a>
            </div>
            <div class="logo"><a href="/">Doodlewear</a></div>
            <ul class="menu">
                <li><a href="/" class="nav-home">Home</a></li>
                <li><a href="/shop" class="nav-home">Shop</a></li>
                <li><a href="/about" class="nav-home">About</a></li>
                <li><a href="/story" class="nav-home">Story</a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"></a></li>

            </ul>
            <div class="actions">
                <a href="/login" class="action-button">Login</a>
                <a href="#" class="action-button"><img src="../static/assets/img/shopping_bag.png"
                                                       alt="Shopping Bag"></a>
            </div>
        </div>
    </nav>
</header>
<body>


{% block content %}
{% endblock %}

</body>
<footer>
    <div class="footer">
        <div class="row">
            <div class="icons">
                <a href="https://www.facebook.com/people/Doodle-Wear/pfbid0oEQve1Z9VnJVPZ67YxkcF7doxeTaRrMi3oDiEaM83Vz8zeXHHMiNqgArCdYJCjLXl/?sfnsn=wa"><i
                        class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/doodlewearofficial?igsh=MXN6c2NyNTQ0cXFkcw=="><i
                        class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/@DoodleWear"><i class="fa fa-youtube"></i></a>
                <a href="https://x.com/RealDoodleWear?t=rdisDjwXEmD8zNHiNFbx2A&s=08"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <p class="mail">doodlewear@gmail.com</p>
        <div class="row">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/story">Story</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>