{% extends 'base.html' %}

{% block title %}colorpage{% endblock %}

{% block content %}
    <div class="responsive-container-block container">
        <p class="text-blk team-head-text">
            Our Colors
        </p>
        <div class="responsive-container-block">
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/darkestgrey.png"
                             alt="foto of Leandro">
                    </div>
                    <p class="text-blk name">
                        Body Background
                    </p>
                    <p class="text-blk position">
                        Darkest grey
                    </p>
                    <p class="text-blk feature-text">
                        #222
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/alittleligthergrey.png"
                             alt="foto of Vuk">
                    </div>
                    <p class="text-blk name">
                        Header Background
                    </p>
                    <p class="text-blk position">
                        A little lighter grey
                    </p>
                    <p class="text-blk feature-text">
                        #2d2b2b
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/alittleligthergrey.png"
                             alt="foto of Gianmarco">
                    </div>
                    <p class="text-blk name">
                        Footer background
                    </p>
                    <p class="text-blk position">
                        A little lighter grey
                    </p>
                    <p class="text-blk feature-text">
                        #2d2b2b
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/lightgrey.png"
                             alt="foto of Tim">
                    </div>
                    <p class="text-blk name">
                        Card background
                    </p>
                    <p class="text-blk position">
                        light grey
                    </p>
                    <p class="text-blk feature-text">
                        #333
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/lightestgrey.png"
                             alt="foto of Ladina">
                    </div>
                    <p class="text-blk name">
                        toggle-btn
                    </p>
                    <p class="text-blk position">
                        lightest grey
                    </p>
                    <p class="text-blk feature-text">
                        #999
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
                <div class="card">
                    <div class="team-image-wrapper">
                        <img class="team-member-image" src="../static/assets/img/img_colors/lightgrey.png"
                             alt="foto of Mauro">
                    </div>
                    <p class="text-blk name">
                        box-shadow
                    </p>
                    <p class="text-blk position">
                        dark grey
                    </p>
                    <p class="text-blk feature-text">
                        0 0 10px rgba(255, 255, 255, 0.1);
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

