{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact Form</title>
        <link rel="stylesheet" href="/static/assets/css/contact_form.css">
    </head>
    <body>
    <div class="container">
        <div class="block">
            <form action="https://formspree.io/f/xayrovok" method="POST">
                <h1>Contact Form</h1>
                <input type="text" name="first" placeholder="First Name" autocomplete="off" required>
                <input type="text" name="last" placeholder="Last Name" autocomplete="off" required>
                <input type="email" name="email" placeholder="Email Adresse" autocomplete="off" required>
                <textarea rows="5" cols="60" name="message" placeholder="Enter text" autocomplete="off"
                          required></textarea>
                <button type="submit" class="SMbtn">Send Message</button>
            </form>
        </div>
    </div>
    </body>
{% endblock %}