<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/header_styles.css">
</head>
<body>
<nav>
  <div class="navbar">
    <div class="logo"><a href="index.html"><img src="../static/assets/img/Strichman_logo.JPG" alt="CodingLab Logo"></a></div>
    <div class="logo"><a href="#">Doodlewear</a></div>
    <ul class="menu">
      <li><a href="/" class="nav-home">Home</a></li>
      <li><a href="shop.html" class="nav-home">Shop</a></li>
      <li><a href="/about" class="nav-home">About</a></li>
      <li><a href="/story" class="nav-home">Story</a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>

    </ul>
      <div class="actions">
        <a href="/login" class="action-button">Login</a>
        <a href="#" class="action-button"><img src="../static/assets/img/shopping_bag.png" alt="Shopping Bag"></a>
      </div>
  </div><br>

</nav>
{% block content %}
{% endblock %}
</body>
</html>