{% extends 'header.html' %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/assets/css/home_style.css">
    <title>Doodleclo.</title>
</head>

<body>
<div class='banner'>
    <strong id="bgtext">MORE THAN CLOTHING</strong>
</div>

<table>
    <table>
        <tr class="first-row-table">
            <th>
                <div class="container">
                    <img src="/static/assets/img/farbe.jpg" alt="Segeln in Sizilien/Sardinien (Italien)" class="image">
                    <a href="../Beitraege/Italien.html">

                        <div class="overlay">
                            <div class="text">Ashor</div>
                        </div>
                    </a>
                </div>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Segellager Riva del Garda (Italien)" class="image">

                    <a href="../Beitraege/RivadelGarda.html">
                        <div class="overlay">
                            <div class="text">Ashor's ride</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Finnland" class="image">

                    <a href="../Beitraege/Finnland.html">
                        <div class="overlay">
                            <div class="text">Ashor's problem</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="England" class="image">

                    <a href="../Beitraege/England.html">
                        <div class="overlay">
                            <div class="text">Arrested Ashor</div>
                        </div>
                    </a>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="England" class="image">

                    <a href="../Beitraege/England.html">
                        <div class="overlay">
                            <div class="text">Ashor's bigger Problem</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="England" class="image">

                    <a href="../Beitraege/England.html">
                        <div class="overlay">
                            <div class="text">Ashor's escape</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Tessin" class="image">

                    <a href="../Beitraege/Tessin.html">
                        <div class="overlay">
                            <div class="text">King of the City</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Serfaus (Österreich)" class="image">

                    <a href="../Beitraege/Serfaus.html">
                        <div class="overlay">
                            <div class="text">Ashor's destiny</div>
                        </div>
                    </a>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="England" class="image">

                    <a href="../Beitraege/England.html">
                        <div class="overlay">
                            <div class="text">Fainting...</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Tessin" class="image">

                    <a href="../static/assets/img/Strichman_logo.JPG">
                        <div class="overlay">
                            <div class="text">Recovery</div>
                        </div>
                    </a>
                </div>
            </th>
            <th>
                <div class="container">
                    <img src="../farbe.jpg" alt="Serfaus (Österreich)" class="image">

                    <a href="../Beitraege/Serfaus.html">
                        <div class="overlay">
                            <div class="text">King</div>
                        </div>
                    </a>
                </div>
            </th>
        </tr>
    </table>
</table>
</body>
</html>

