{% extends 'base.html' %}
<head>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodleclo</title>
</head>
{% block content %}
<body>
<div class='banner'>
    <strong id="bgtext">MORE THAN CLOTHING</strong>
</div>

<br>
<br>
<br>
<br>
<br>
<h1 style="text-align: center">OUR BESTSELLERS</h1>

<div class="grid-wrapper">

    <div class="container">
        <img src="../static/assets/img/img_index/tshirt1backprint.jpg" class="image">
        <a href="shirts/productpage?productId=1">

            <div class="overlay">
                <div class="text">Ashor</div>
            </div>
        </a>
    </div>
    <div class="container">
        <img src="/static/assets/img/img_index/tshirt2backprint.jpg" class="image">
        <a href="shirts/productpage?productId=2">
            <div class="overlay">
                <div class="text">Ashor's ride</div>
            </div>
        </a>
    </div>
    <div class="container">
        <img src="/static/assets/img/img_index/tshirt3backprint.jpg" class="image">
        <a href="shirts/productpage?productId=3">
            <div class="overlay">
                <div class="text">Ashor's problem</div>
            </div>
        </a>
    </div>
    <div class="container">
        <img src="/static/assets/img/img_index/tshirt4backprint.jpg" class="image">
        <a href="shirts/productpage?productId=4">
            <div class="overlay">
                <div class="text">Arrested Ashor</div>
            </div>
        </a>
    </div>
    </a>
</div>
</div>

<a href="/shop">
    <button type="submit" class="submit-btn2" value="Shop" id="shop">VIEW ALL</button>
</a>


</body>

{% endblock %}

