<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storyline</title>
    <link rel="stylesheet" href="../static/assets/css/real_storyline.css">
</head>
<body>

    <header>
        <h1>Storyline</h1>
		<br>
    </header>
    <main>
	 <section class="story1">
	 <p>Hier findest du die Geschichte zu all unseren T-Shirts.</p>
	 </section>
        <section class="story">
            <p>In einer belebten Stadt, wo die Sonne selten untergeht, lebte ein Skater namens Ashor. Jeden tag schlängelte er sich mit seinem abgenutztem Skateboard durch die Gassen und über die Plätze der Stadt, immer auf der Suche nach dem nächsten Kick oder der nächsten Herausforderung. </p>
			<p>Es war ein gewöhnlicher Nachmittag, als Ashor beschloss, seinen Lieblingsplatz zu besuchen – eine verlassene Tiefgarage mit vielen Hindernissen und dutzenden Parcours.</p>
			<p>Plötzlich wie aus dem Nichts, tauchten zwei Polizeibeamte auf. Ashor dachte noch ans Abhauen aber die Polizisten waren ihm schon zu nahe. Sein Herz begann zu rasen, denn Ashor war kein braver Junge. Er hatte etwas bei sich, von dem es am besten wäre, wenn die Polizisten es nicht finden würden. Der einte Polizist forderte Ashor auf ihm seine Bauchtasche abzugeben. Ab da wusste Ashor, dass sie es finden würden. Der Polizist öffnete die Bauchtasche und holte ein Päckchen raus. Er fragte Ashor: «Willst du dich noch rechtfertigen?» </p>
			<p>Ashor wusste das er sich nicht einfach den Polizisten überlassen kann. Er war Ashor, er gab nicht auf. Nicht jetzt. Mit einem Blick über seine Schulten und einem tiefen Atemzug machte Ashor das, was er am besten konnte – er flüchtete. Er kickte sein Board zurück auf den Boden und schoss davon, die Polizisten im Rücken. Die Polizei war ihm dicht auf den Fersen, doch Ashor war in seinem Element. Erkannte jede Abkürzung, jeden versteckten Weg und jedes Hindernis in diesem Teil der Stadt. Die Jagd führte durch enge Gassen, über belebte Märkte und durch einen Park. Ashor war den Polizisten immer einen Schritt voraus, immer ausser Reichweite. Seine Verfolger hingegen kämpften, um Schritt zu halten. Ashor nutzte jede Gelegenheit, seine Fähigkeiten auf dem Skateboard anzuwenden. </p>
			<p>Er bog in eine Gasse ab und dann passierte es. Ashor übersah eine unebene Stelle auf dem Boden. In einem Augenblick der Unaufmerksamkeit verlor er die Kontrolle über sein Board und stürzte zu Boden. Die Welt um ihn herum verschwamm, und dann wurde alles schwarz. </p>
			<p>Als Ashor die Augen öffnete, fand er sich in einer völlig anderen Welt wieder – einem Krankenhausbett, umgeben von seinen Eltern, seinen Skater-Freunden und den zwei Polizeibeamten. Doch sie waren nicht da, um ihn zu verhaften, sondern sich nach deinem Befinden zu erkundigen. </p>
			<p>Ashor’s Weg zur Genesung war lang und voller Herausforderungen. Doch als Ashor schliesslich das Krankenhaus verliess, war er nicht mehr derselbe junge Mann, der gefallen war. </p>
			<p>Er wusste jetzt was richtig war und was nicht. </p>

        </section>
		<section class="story">
		Storyline entworfen und geschrieben von Mauro Patocchi
		</section>
    </main>
</body>
</html>
