{% extends 'base.html' %}

{% block title %}Story{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storyline</title>
    <link rel="stylesheet" href="../static/assets/css/real_storyline.css">
</head>
<body>
    <main>
	 <section class="story1">
         <h1>Storyline</h1>
		<br>
	 <p>Here you can find the story behind all our T-shirts.</p>
	 </section>
        <section class="story">
            <p>In a bustling city where the sun rarely sets, there lived a skater called Ashor. Every day he meandered through the city's alleyways and squares on his worn-out skateboard, always on the lookout for the next kick or the next challenge.</p>
			<p>It was an ordinary afternoon when Ashor decided to visit his favourite place - an abandoned underground car park with lots of obstacles and dozens of courses.</p>
			<p>Suddenly, out of nowhere, two police officers appeared. Ashor thought about running away, but the policemen were already too close to him. His heart began to race, because Ashor was not a good boy. He had something on him that it would be best if the policemen didn't find. The one policeman asked Ashor to hand over his fanny pack. From then on, Ashor knew that they would find it. The policeman opened the fanny pack and took out a small package. He asked Ashor: "Do you still want to justify yourself?"</p>
			<p>Ashor knew that he couldn't just abandon himself to the police. He was Ashor, he wouldn't give up. Not now. With a glance over his shoulders and a deep breath, Ashor did what he did best - he fled. He kicked his board back to the ground and shot off, the cops at his back. The police were hot on his heels, but Ashor was in his element. He recognised every shortcut, every hidden path and every obstacle in this part of the city. The chase led through narrow alleyways, across busy markets and through a park. Ashor was always one step ahead of the policemen, always out of reach. His pursuers, on the other hand, struggled to keep up. Ashor took every opportunity to use his skateboarding skills.</p>
			<p>He turned into an alley and then it happened. Ashor overlooked an uneven patch of ground. In a moment of inattention, he lost control of his board and crashed to the ground. The world around him blurred and then everything went black.</p>
			<p>When Ashor opened his eyes, he found himself in a completely different world - a hospital bed, surrounded by his parents, his skater friends and the two police officers. However, they weren't there to arrest him, but to enquire about his condition.</p>
			<p>Ashor's road to recovery was long and full of challenges. But when Ashor finally left the hospital, he was no longer the same young man who had fallen.</p>
			<p>He now knew what was right and what was not.</p>

        </section>
		<section class="story">
		Storyline designed and written by Mauro Patocchi
		</section>
    </main>
</body>
{% endblock %}
</html>
